body{
    padding: 100px;
    background-image: url(images/bg.jpg);
    background-size: 100%;
}
#login-area{
    color: white;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: rgba(28, 70, 28, 0.726);
    width: 50%;
    margin: auto;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.total{
    background-color: orange;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.depo-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: rgba(144, 238, 144, 0.76);
}
.with-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: rgba(236, 84, 84, 0.76);
}
.logoutBtn{
    display: block;
    margin: auto;
    width: 150px;
    margin-top: 50px;
}